{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid">
    .<div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title">Contribuyente</h5>
            <p class="card-text">Code 8974</p>
        </div>
        <div class="card-footer">
            .<div class="row justify-content-center align-items-center g-2">
                <div class="col-sm-8">
                    <h1 class="h5 mb-2 text-gray-800">Code</h1>
                    <h1 class="h5 mb-2 text-gray-800">Apellido</h1>
                    <h1 class="h5 mb-2 text-gray-800">Nombre</h1>
                    <h1 class="h5 mb-2 text-gray-800">N° Cedula</h1>
                    <h1 class="h5 mb-2 text-gray-800">Comunidad</h1>
                    <h1 class="h5 mb-2 text-gray-800">Direccion</h1>

                </div>
                <div class="col-sm-4">
                    <div class="card shadow-sm p-2">
                        <div class="card-body">
                            <h5 class="card-title">Pagos</h5>
                        </div>
                        <h1 class="h5 mb-2 text-gray-800">IMI</h1>
                        <h1 class="h5 mb-2 text-gray-800">Basura</h1>
                        
                    </div>
                    <div class="row">
                        <h1 class="h5 mb-2 text-gray-800">Typo de negocio</h1>
                        <div class="col-sm-5 text-center">
                            <h1 class="h6 mb-2 text-gray-800">Bar: 300</h1>
                        </div>
                        <div class="col-sm-5 text-center">
                            <h1 class="h6 mb-2 text-gray-800">Comedor: 200</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">

                    <div class="card-body">
                        
                       
                        <div class="row justify-content-center align-items-center g-2">
                            
                         
                            
                            <div class="col-sm-12">
                                
                                
                                <table class="table table-bordered  dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead >
                                        <tr>
                                            
                                            <th rowspan="1" colspan="1">Año</th>
                                            <th rowspan="1" colspan="1">Enero</th>
                                            <th rowspan="1" colspan="1">Febrero</th>
                                            <th rowspan="1" colspan="1">Marzo</th>
                                            <th rowspan="1" colspan="1">Abril</th>
                                            <th rowspan="1" colspan="1">Mayo</th>
                                            <th rowspan="1" colspan="1">Junio</th>
                                            <th rowspan="1" colspan="1">Julio</th>
                                            <th rowspan="1" colspan="1">Agosto</th>
                                            <th rowspan="1" colspan="1">Septiembre</th>
                                            <th rowspan="1" colspan="1">Octubre</th>
                                            <th rowspan="1" colspan="1">Noviembre</th>
                                            <th rowspan="1" colspan="1">Diciembre</th>
                                         
                                        </tr>
                                    </thead>
                                    <a href="/home" class="tr text-decoration-none">
                                            
                                            <td class="sorting_1 text-center">
                                                2023
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input " type="checkbox" value="" id="flexCheckChecked" checked>
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                            </td>
                                            <td class="sorting_1 text-center">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            </td>
                                        
                                        </a>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        Obcervacion
                                    </div>
                                    <div class="card-body">
                                        <h2 class="h6 text-black-50">
                                            4/03/2021
                                        </h2>
                                        <p class="text-black">2023</p>
                                        <p>
                                            Google and Facebook buttons are available featuring each company's respective
                                            brand color. They are used on the user login and registration pages.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-1 d-flex justify-content-end">
                                <div class="col-sm-12">
                                    <input class="form-control " type="text" name="">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control align-content-end" type="submit" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</div>
{% endblock %}

